@import './../variables.scss';

.article {
  display: flex;
  flex-direction: column;
  text-align: left;

  .articles {
    display: flex;
    flex-direction: row;
    .left-container {
      min-width: 280px;
      position: relative;


      .articles-move {
        position: fixed;
      }
    }

    .right-container {
      padding: 0 20px;
      box-sizing: border-box;
    }
  }

  .article-container {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 800px;
  }

  .button-one4all {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  ul {
      li {
          margin: 5px 0;
          line-height: 30px;

          strong { 
              font-weight: bold;
              color: $oneblue;
              font-size: 18px; 
          }
      }
  }

}


@media only screen and (max-width: $medium-width) {
  .article {
    .articles {
      display: flex;
      flex-direction: column;
      .left-container {
        min-width: auto;

        .articles-move {
          position: relative;
        }
      }

      .right-container {
        padding: 0;
      }
  
    
    }
  }
}
